<div class="editor-preview-container preview-hidden" id="editor-preview-container">
  <div class="editor-pane">
    <div class="editor-wrapper">
      <div class="codejar-editor" id="editor"></div>
    </div>
  </div>

  <div class="preview-pane">
    <div class="preview-content" id="preview">
      <pre><code>Start typing to see preview...</code></pre>
    </div>
  </div>
</div>